/*Barra de Navegación*/
.navbar{
  padding: 10px 10px;
  background-color: #f5f6f7;
  }
  .navbar-collapse{
    justify-content: space-between;
    align-items: center;
  }
  
  /*Jumbotron*/
  .jumbotron{
    padding: 10px 0px 0px 30px;
    background-color: #f5f6f7;
  }
  .span-jumbotron{
    color:red;
    font-weight: bold;
  }
.imagen-computador-jumbotron{
  border-radius: 30px 0px 0px 0px;
}

/*Sección Tarjetas*/
.catalogo{
  display: column;
  flex-direction:column;
  justify-content: center;
  text-align: center;
  padding: 50px 30px;
}
.algunos-servicios{
  color: #ff0000;
}
.tarjetas{
  display: flex;
  flex-direction: row;
  justify-content:space-around ;
  align-items: center;
  margin-bottom: 50px;
}

/*Call to action para contacto*/
.texto-cta{
  padding:30px 20px;
}
.row-contacto{
  background-color: #f5f6f7;
  margin-top: 50px;
}
.col-md-6{
  padding-left: 0px;
}
#btn-whatsapp{
  padding: 20px;
}

/*Sección Footer*/
.row-footer{
  display: row;
  flex-direction: row;
  justify-content:space-around;
  padding-top: 30px;
}
.logo-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
#logo-pequeño-footer{
  width: 90px;
}
.columna{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
.derechos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #bb2d3b;
  color: white;
  padding: 10px;
}

/*Media Queries responsivos*/
@media screen and (max-width: 767px){
  .navbar-brand{
    display: none;
  }
}
@media screen and (max-width: 424px){
  .imagen-computador-jumbotron{
    display: none;
  }
}