.main-menu{
    display: flex;
    flex-direction: row;
    background-color: #F9cc12;
    padding-top: 10px;
}
.main-menu li{
    list-style: none;;
}

#logotipo{
    width: 80px;
    height: 80px;
}
